Module2/postgres_taxi_module2.yaml
id: postgres_taxi_module2
namespace: zoomcamp
description: |
  Partitioned ETL: downloads NYC TLC CSV (yellow/green), loads to UNLOGGED staging,
  computes unique_row_id, and MERGEs into partitioned Postgres tables (monthly partitions).

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

  - id: debug
    type: BOOLEAN
    displayName: Keep execution files (debug mode)
    defaults: false

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  partition_table: "public.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}}"
  month_start: "{{inputs.year}}-{{inputs.month}}-01"
  data: "{{outputs.download_and_unzip_csv.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"

tasks:
  - id: tag_execution
    type: io.kestra.plugin.core.execution.Labels
    labels:
      taxi: "{{inputs.taxi}}"
      file: "{{render(vars.file)}}"
      partition: "{{render(vars.partition_table)}}"
      month_start: "{{render(vars.month_start)}}"

  - id: download_and_unzip_csv
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    interpreter:
      - bash
      - -lc
    commands:
      - |
        set -euo pipefail
        FILE="{{render(vars.file)}}"
        URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/${FILE}.gz"

        echo "Downloading: ${URL}"
        for i in 1 2 3 4 5; do
          if wget --timeout=30 -qO- "${URL}" | gunzip > "${FILE}"; then
            break
          fi
          echo "Retry $i failed, sleeping..."
          sleep 2
        done

        test -s "${FILE}" || (echo "ERROR: downloaded CSV is empty" && exit 1)
        echo "Downloaded OK: ${FILE} ($(wc -l < "${FILE}") lines)"


  # =========================================================
  # YELLOW (partition key: tpep_pickup_datetime)
  # =========================================================
  - id: route_yellow
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'yellow'}}"
    then:
      - id: yellow_create_parent_partitioned
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               integer,
              tpep_pickup_datetime   timestamp,
              tpep_dropoff_datetime  timestamp,
              passenger_count        integer,
              trip_distance          double precision,
              RatecodeID             integer,
              store_and_fwd_flag     text,
              PULocationID           integer,
              DOLocationID           integer,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision
          )
          PARTITION BY RANGE (tpep_pickup_datetime);

      - id: yellow_create_default_partition
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS public.yellow_tripdata_default
          PARTITION OF {{render(vars.table)}} DEFAULT;
          
      - id: yellow_create_month_partition
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          -- Create the monthly partition for this run (e.g., public.yellow_tripdata_2019_01)
          CREATE TABLE IF NOT EXISTS {{render(vars.partition_table)}}
          PARTITION OF {{render(vars.table)}}
          FOR VALUES FROM (to_date('{{render(vars.month_start)}}','YYYY-MM-DD'))
                       TO (to_date('{{render(vars.month_start)}}','YYYY-MM-DD') + INTERVAL '1 month');

      - id: yellow_create_partitioned_indexes
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          -- Partitioned (global-ish) indexes: created on parent, auto-applied to partitions
          -- UNIQUE on partitioned tables must include the partition key
          CREATE UNIQUE INDEX IF NOT EXISTS yellow_uid_pickup_uq
          ON {{render(vars.table)}} (unique_row_id, tpep_pickup_datetime);

          CREATE INDEX IF NOT EXISTS yellow_pickup_dt_idx
          ON {{render(vars.table)}} (tpep_pickup_datetime);

          CREATE INDEX IF NOT EXISTS yellow_pu_do_idx
          ON {{render(vars.table)}} (PULocationID, DOLocationID);

      - id: yellow_create_unlogged_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE UNLOGGED TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               integer,
              tpep_pickup_datetime   timestamp,
              tpep_dropoff_datetime  timestamp,
              passenger_count        integer,
              trip_distance          double precision,
              RatecodeID             integer,
              store_and_fwd_flag     text,
              PULocationID           integer,
              DOLocationID           integer,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision
          );

      - id: yellow_reset_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: yellow_copy_csv_into_staging
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns:
          [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]

      - id: yellow_compute_row_fingerprint
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(tpep_pickup_datetime AS text), '') || 
              COALESCE(CAST(tpep_dropoff_datetime AS text), '') || 
              COALESCE(CAST(PULocationID AS text), '') || 
              COALESCE(CAST(DOLocationID AS text), '') || 
              COALESCE(CAST(payment_type AS text), '') ||
              COALESCE(CAST(total_amount AS text), '') ||
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance AS text), '')
            ),
            filename = '{{render(vars.file)}}';

      - id: yellow_assert_staging_not_empty
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          DO $$
          BEGIN
            IF (SELECT COUNT(*) FROM {{render(vars.staging_table)}}) = 0 THEN
              RAISE EXCEPTION 'Staging table is empty after COPY (%).', '{{render(vars.staging_table)}}';
            END IF;
          END $$;
          
      - id: yellow_deduplicate_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          DELETE FROM {{render(vars.staging_table)}} a
          USING {{render(vars.staging_table)}} b
          WHERE a.ctid < b.ctid
            AND a.unique_row_id = b.unique_row_id
            AND a.tpep_pickup_datetime = b.tpep_pickup_datetime;

      - id: yellow_merge_to_parent
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime,
              passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID,
              DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount,
              improvement_surcharge, total_amount, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime,
              S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID,
              S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount,
              S.improvement_surcharge, S.total_amount, S.congestion_surcharge
            );

  # =========================================================
  # GREEN (partition key: lpep_pickup_datetime)
  # =========================================================
  - id: route_green
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:
      - id: green_create_parent_partitioned
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               integer,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             integer,
              PULocationID           integer,
              DOLocationID           integer,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          )
          PARTITION BY RANGE (lpep_pickup_datetime);

      - id: green_create_default_partition
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS public.green_tripdata_default
          PARTITION OF {{render(vars.table)}} DEFAULT;

      - id: green_create_month_partition
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          -- Create the monthly partition for this run (e.g., public.green_tripdata_2019_01)
          CREATE TABLE IF NOT EXISTS {{render(vars.partition_table)}}
          PARTITION OF {{render(vars.table)}}
          FOR VALUES FROM (to_date('{{render(vars.month_start)}}','YYYY-MM-DD'))
                       TO (to_date('{{render(vars.month_start)}}','YYYY-MM-DD') + INTERVAL '1 month');

      - id: green_create_partitioned_indexes
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          -- UNIQUE on partitioned tables must include the partition key
          CREATE UNIQUE INDEX IF NOT EXISTS green_uid_pickup_uq
          ON {{render(vars.table)}} (unique_row_id, lpep_pickup_datetime);

          CREATE INDEX IF NOT EXISTS green_pickup_dt_idx
          ON {{render(vars.table)}} (lpep_pickup_datetime);

          CREATE INDEX IF NOT EXISTS green_pu_do_idx
          ON {{render(vars.table)}} (PULocationID, DOLocationID);

      - id: green_create_unlogged_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE UNLOGGED TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               integer,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             integer,
              PULocationID           integer,
              DOLocationID           integer,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          );

      - id: green_reset_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: green_copy_csv_into_staging
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns:
          [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]

      - id: green_compute_row_fingerprint
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(lpep_pickup_datetime AS text), '') || 
              COALESCE(CAST(lpep_dropoff_datetime AS text), '') || 
              COALESCE(CAST(PULocationID AS text), '') || 
              COALESCE(CAST(DOLocationID AS text), '') || 
              COALESCE(CAST(payment_type AS text), '') ||
              COALESCE(CAST(total_amount AS text), '') ||
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance AS text), '')
            ),
            filename = '{{render(vars.file)}}';

      - id: green_assert_staging_not_empty
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          DO $$
          BEGIN
            IF (SELECT COUNT(*) FROM {{render(vars.staging_table)}}) = 0 THEN
              RAISE EXCEPTION 'Staging table is empty after COPY (%).', '{{render(vars.staging_table)}}';
            END IF;
          END $$;

      - id: green_deduplicate_staging
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          DELETE FROM {{render(vars.staging_table)}} a
          USING {{render(vars.staging_table)}} b
          WHERE a.ctid < b.ctid
            AND a.unique_row_id = b.unique_row_id
            AND a.lpep_pickup_datetime = b.lpep_pickup_datetime;

      - id: green_merge_to_parent
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (
              unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
              store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
              trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
              improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
              S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
              S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
              S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
            );


  - id: cleanup_outputs_when_not_debug
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.debug == false}}"
    then:
      - id: purge_execution_files
        type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
        description: Removes output files unless debug=true.

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi
      username: "{{secret('PG_USERNAME')}}"
      password: "{{secret('PG_PASSWORD')}}"